<nav>
    <a href="{% url 'dashboard_masyarakat' %}">Dashboard</a> |
    <a href="{% url 'buat_pengaduan' %}">Buat Pengaduan</a> |

    <div class="dropdown">
        <button class="dropbtn">
            <img src="{% if user.profile.image %}{{ user.profile.image.url }}{% else %}/media/profile_icon.png{% endif %}" 
                 alt="Profil" class="profile-icon">
        </button>
        <div class="dropdown-content">
            <a href="{%url 'profil_masyarakat'%}">Profil Saya</a>
            <a href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
</nav>
