
<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if user.is_authenticated %}
    {% if user.role == 'admin' %}
        {% include 'includes/navbar_admin.html' %}
    {% elif user.role == 'petugas' %}
        {% include 'includes/navbar_petugas.html' %}
    {% elif user.role == 'masyarakat' %}
        {% include 'includes/navbar_masyarakat.html' %}
    {% endif %}
{% else %}
    {% include 'includes/navbar_public.html' %}
{% endif %}
    <title>Dashboard Masyarakat</title>
</head>
<body>

<h2>Dashboard Masyarakat</h2>
<p>Selamat datang, {{ request.session.username }}! <a href="{% url 'logout' %}"> Logout</a></p>


<a href="{% url 'buat_pengaduan' %}">+ Buat Pengaduan</a>

<h3>Pengaduan Saya</h3>
<table border="1">
    <tr>
        <th>No</th>
        <th>Isi Laporan</th>
        <th>Status</th>
        <th>Aksi</th>
    </tr>
    {% for pengaduan in pengaduan_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ pengaduan.isi_laporan }}</td>
        <td>{{ pengaduan.status }}</td>
        <td>
            <a href="{% url 'detail_pengaduan' pengaduan.id_pengaduan %}">Lihat Detail</a>
        </td>
    </tr>
    {% endfor %}
</table>

</body>
</html>
