{% load static %}
<link rel="stylesheet" href="{% static 'css/dashmas.css' %}">

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Masyarakat</title>
{% include "includes/navbar_masyarakat.html" %}
</head>
<body>

    <p>Selamat datang, {{ request.session.username }}!</p>

    <!-- Tombol Logout -->
    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
    
    <!-- Tombol Buat Pengaduan -->
    <a href="{% url 'buat_pengaduan' %}" class="btn btn-primary">+ Buat Pengaduan</a>
    

<h3>Pengaduan Saya</h3>
<table border="1">
    <tr>
        <th>No</th>
        <th>Isi Laporan</th>
        <th>Status</th>
        <th>Aksi</th>
    </tr>
    {% for pengaduan in pengaduan_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ pengaduan.isi_laporan }}</td>
        <td>{{ pengaduan.status }}</td>
        <td>
            <a href="{% url 'detail_pengaduan' pengaduan.id_pengaduan %}">Lihat Detail</a>
        </td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
